*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* RESET */


/* MACROSTRUTTURA */
main{
    display: flex;
}

.col-left{

    display: flex;
    flex-direction: column;

    width: 230px;
    padding-left: 20px;
    padding-top: 20px;
    background-color: black;
    color: rgba(255, 255, 255, 0.5);
    

    height: calc(100vh - 90px);
    overflow-y: auto;
}

.col-right{
    position: relative;
    width: calc(100% - 230px);
    background-color: #151922;

    padding-top: 100px;
    padding-bottom: 100px;

    height: calc(100vh - 90px);
    overflow-y: auto;
}

.player{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 3;

    display: flex;

    width: 100%;
    height: 90px;
    background-color: #282828;
}

.mg-b{
    margin-bottom:30px;
}

.mg-b-sm{
    margin-bottom: 15px;
}


/* SIDEBAR */

.logo, .icons, .playlist{
    width: 100%;
    padding-right: 50px;

}

img{
    width: 100%;
    margin-bottom: 15px;
}

.icons{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.icon-link{
    display: flex;
}

.icon-link img{
    width: 30px;
    margin-bottom: 0;
    margin-right: 10px;
}

.bar-text{
    align-self: center;

}

.playlist .white{
    margin-bottom: 10px;
}

.playlist i{
    font-size: 50px;
    margin-right: 10px;
}

.user{
    width: 100%;
    padding-right: 20px;
}

.user img:first-of-type{
    width: 20px;
}

hr{
    opacity: 0.5;
}

.profile{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}



/* SEZIONE CON UPGRADE E BRANI */

/* UPGRADE */

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 230px);
    height: 90px;
    
    padding-right: 20px;
    background-color:rgba(0, 0, 0, 0.4);

    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

header .btn{
    width: 250px;

    padding: 10px 32px;

    color: white;
    text-align: center;
    border: solid white;
    border-radius: 25px;


}



/* BRANI */

.tracks{
    display: flex;
    flex-direction: column;

    width: 95%;
    margin-left: auto;
    margin-right: auto;
    
}


.links{ 
    width: 100%;
    padding-top: 10px;
}


.links ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 18px;

    list-style-type: none;
    color: rgba(255, 255, 255, 0.5);
}


h1{
    color: white;
}



.white{
    font-weight: bold;
    color: white;
}


.cards-inner{
    width: 100%;
    
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    
}


.cards{
    width: calc(100% / 6 - 16px);
    
}


.cards div{
    width: 100%;
    margin-bottom: 12px;
    text-align: center;
}

.sub{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
}

.title{
    margin-bottom: 10px;
}

.circle{
    border-radius: 50%;
}



/* FOOTER */

.song, .play, .options{
    width: calc(100% / 3);

    border: 2px solid white;
    /* test */
}



/* MEDIA QUERY */


/* MEDIA QUERY VERSIONE MEDIUM 992px */

@media screen and (max-width: 992px) {

    .cards{
        width: calc(100% / 4 - 16px);
    }
    
}




/* MEDIA QUERY VERSIONE SMALL 768px */

@media screen and (max-width: 768px) {

    .cards{
        width: calc(100% / 2 - 16px);
    }
    
}


/* MEDIA QUERY VERSIONE EXTRA SMALL 576px */

@media screen and (max-width: 576px) {
    
    .col-left{
        width: 50px;
    }

    .col-right{
        width: calc(100% - 50px);
    }

    header{
        width: calc(100% - 50px);
    }
}