*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* RESET */


/* MACROSTRUTTURA */
main{
    display: flex;
}

.col-left{

    display: flex;
    flex-direction: column;

    width: 230px;
    padding-left: 20px;
    padding-top: 20px;
    background-color: black;
    color: rgba(255, 255, 255, 0.5);
    

    height: calc(100vh - 90px);
    overflow-y: auto;
}

.col-right{
    position: relative;
    width: calc(100% - 230px);
    background-color: #151922;

    padding-top: 100px;
    padding-bottom: 100px;

    height: calc(100vh - 90px);
    overflow-y: auto;
}

.player{
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 3;

    display: flex;

    width: 100%;
    height: 90px;
    background-color: #282828;
}

.mg-b{
    margin-bottom:30px;
}

.mg-b-sm{
    margin-bottom: 15px;
}


/* SIDEBAR */

.logo, .icons, .playlist{
    width: 100%;
    padding-right: 50px;

}

img{
    width: 100%;
    margin-bottom: 15px;
}

.logo-sm{
    display: none;
}

.icons{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.icon-link{
    display: flex;
}

.icon-link img{
    width: 30px;
    margin-bottom: 0;
    margin-right: 10px;
}

.bar-text{
    align-self: center;

}

.playlist .white{
    margin-bottom: 10px;
}

.playlist i{
    font-size: 50px;
    margin-right: 10px;
}

.user{
    width: 100%;
    padding-right: 20px;
}

.user img:first-of-type{
    width: 20px;
}

hr{
    opacity: 0.5;
}

.profile{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
}



/* SEZIONE CON UPGRADE E BRANI */

/* UPGRADE */

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 230px);
    height: 90px;
    
    padding-right: 20px;
    background-color:rgba(0, 0, 0, 0.4);

    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
}

header .btn{
    width: 250px;

    padding: 10px 32px;

    color: white;
    text-align: center;
    border: solid white;
    border-radius: 25px;


}



/* BRANI */

.tracks{
    display: flex;
    flex-direction: column;

    width: 95%;
    margin-left: auto;
    margin-right: auto;
    
}


.links{ 
    width: 100%;
    padding-top: 10px;
}


.links ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 18px;

    list-style-type: none;
    color: rgba(255, 255, 255, 0.5);
}


h1{
    color: white;
}



.white{
    font-weight: bold;
    color: white;
}


.cards-inner{
    width: 100%;
    
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    
}


.cards{
    width: calc(100% / 6 - 16px);
    
}



.cards div{
    width: 100%;
    margin-bottom: 12px;
    text-align: center;
}

.sub{
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
}

.title{
    margin-bottom: 10px;
}

.circle{
    border-radius: 50%;
}



/* FOOTER */


.song{
    width: 30%;

    display: flex;

    padding: 20px 5px;
}

.artist{
    display: flex;
    width: 60%;
}

.artist img{
    width: 50px;
    margin-right: 10px;
    margin-bottom: 0;
}

.song-text{
    align-self: center;
}

.song-icons{
    width: 40%;
    align-self: center;
    color: rgba(255, 255, 255, 0.5);
    padding-left: 30px;
}

.song-icons i{
    font-size: 20px;
    padding-right: 10px;
}

.play{
    width: 40%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.play-icons{
    color: white;
    font-size: 20px;
    display: flex;
    padding-top: 10px;
}


.play-icons .fa-solid{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.fa-circle-play{
    font-size: 30px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.play-time{
    width: 100%;
    padding: 10px 30px;

    display: flex;
    gap: 10px;
    color: white;
    font-weight: bold;
}

.bar{
    height: 5px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.5);

    align-self: center;
    border-radius: 10px;
}

.bar-in, .vol-in{
    height: 100%;
    width: 20%;

    background-color: white;
    border-radius: 10px;
}



.options{
    width: 30%;

    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
    font-size: 20px;
    color: white;
}

.vol{
    width: 50%;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;


}






/* MEDIA QUERY */


/* MEDIA QUERY VERSIONE MEDIUM 992px */

@media screen and (max-width: 992px) {

    .cards{
        width: calc(100% / 4 - 16px);
    }
    
}




/* MEDIA QUERY VERSIONE SMALL 768px */

@media screen and (max-width: 768px) {

    .cards{
        width: calc(100% / 2 - 16px);
    }
    
    .options{
        gap: 10px;
    }

    .options i{
        font-size: 16px;
    }
}


/* MEDIA QUERY VERSIONE EXTRA SMALL 576px */

@media screen and (max-width: 576px) {
    
    .col-left{
        width: 50px;
        padding: 10px;

    }

    .col-right{
        width: calc(100% - 50px);
    }

    header{
        width: calc(100% - 50px);
    }

    .logo, .icons, .user{
        padding-right: 0;
    }

    .logo img:first-child{
        display: none;
    }

    .bar-text{
        display: none;
    }

    .playlist{
        display: none;
    }

    .user hr, .user .white{
        display: none;
    }

    .logo-sm{
        display: inline-block;
        width: 100%;
    }

    .icons{
        flex-grow: 1;
    }

    .icons img, .user img:first-of-type{
        width: 100%;
        margin-right: 0px;
    }

    .user .icon-link:first-of-type img{
        width: 100%;
        margin-right: 0;
        transform: scale(0.6);
    }

    .options i{
        font-size: 12px;
    }
}